:root {
    --bg-body : grey;
    --bg-nav : #3b3838;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body);
    font-family: "poppins", sans-serif;
    color: #FFF;
}


header {
    position:sticky;
    top:0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
   
}

footer {
    font-family: "Oswald", sans-serif;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    
}
nav {
    background-color: var(--bg-nav);
    height: 10vh;
    display:flex;
    /*al eje principal row*/
    justify-content: space-between;
    /*al eje secundario column*/
    align-items: center;
    padding: 0 50px;
    background-color: #3b3838;
    font-size: 25px;
}

#nav-links {
    display: flex;
    /*quitar los puntos de los li*/
    list-style: none;
    gap: 30px;
}


#nav-links li a {
    text-decoration: none; /*saco el subrayado*/
    color: inherit; /*saco el color violeta y fuerzo a que tome el color aplicado al resto del texto defin en el body*/
}

h2 {
    font-size: 3em;
}

img {
    width: 5vw;
}

#banner {
    height: 85vh;
    /*estilos para la imagen de fondo de la seccion*/
    background-image: url(../img/banner-libros.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    }

#buscador {
    height: 10vh;
    display: flex;
    flex-direction: column;

    justify-content: center; /*eje principal column (vertical)*/
    align-items: center;
}


#tendencias {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registro-links li a {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.books-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.book-link {
    text-decoration: none;
    color: inherit;
}

.book-container {
    color: #f6f0fc;
    text-shadow: 0.1px 0.1px #272728;
    background-color: #371657;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.25s ease;
}

.book-container:hover {
    transform: scale(1.2);
    border: 0.5px solid #f6f0fc;
}

.book-item-img {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.book-item-detail {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

#buscador{
    scroll-margin-top: 50vh;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 600px) {
    .column {
       float: none;
       width: 100%;
     }
   }
   
   /* Estilo para pantallas medianas */
   @media (min-width: 601px) and (max-width: 1024px) {
    .column {
       float: left;
       width: 50%;
     }
   }
   
   /* Estilo para pantallas grandes */
   @media (min-width: 1025px) {
    .column {
       float: left;
       width: 33.33%;
     }
   }