:root{
    --bg-body: grey;
    --bg-nav : #3b3838;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position:sticky;
    top:0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 100%;
}

nav {
    background-color: var(--bg-nav);
    height: 10vh;
    display:flex;
    /*al eje principal row*/
    justify-content: space-between;
    /*al eje secundario column*/
    align-items: center;
    padding: 0 50px;
    font-size: 25px;
    color: #fff;
}

#nav-links {
    display: flex;
    /*quitar los puntos de los li*/
    list-style: none;
    gap: 30px;
}


#nav-links li a {
    text-decoration: none; /*saco el subrayado*/
    color: inherit; /*saco el color violeta y fuerzo a que tome el color aplicado al resto del texto defin en el body*/
}

#textomenu{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1em;
}

/* Estilos para el body */
body {
    height: 100%;
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--bg-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100hv;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

form h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para el formulario */
form .form-label {
    display: block;
    margin-bottom: 5px;
}

form .form-control,
form .form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form .btn:hover {
    background-color: #0056b3;
}